---
import LastUpdated from '../components/LastUpdated.astro';
---

<footer>
  <div class="content">
    <LastUpdated lastModified={Astro.props.entry?.data?.lastModified} />
    <slot />
  </div>
</footer>

<style>
  footer {
    padding: 1rem 0;
    width: 100%;
  }
  .content {
    margin: 0 auto;
    max-width: 100ch;
  }
</style> 